/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to left, #e2a139, #f9d423);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-color: #ffffff;
  padding: 25px;
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.heading {
  color: #a35200;
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: 600;
}
.paragraph {
  color: #334155;
  font-size: 24px;
  font-weight: 'Roboto';
  font-weight: 400;
}
.head-tail-img {
  width: 75px;
  height: 75px;
  padding-bottom: 10px;
}
.tossCoinButton {
  background-color: #f9d423;
  color: #a35200;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  font-family: 'roboto';
  padding: 5px;
}

.discription-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.counts {
  color: #475569;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Roboto';
  padding-left: 20px;
}
